/* cell phone*/
.content-wrapper{
  margin: auto;

}


h1, h2, h3, h4, h5, h6{
  font-family:'Roboto Slab', serif !important;
}

p{
  font-family:'Roboto', sans-serif !important;
}

/* Homepage Header- Hero image*/

header{
  height: auto;
  padding: 50px;
  color: #045046;
  background-image: url('../img/hero-image.png');
  background-size: cover;
  max-width: 100% !important;
}

.header-text{
  text-align: center;
  padding-top: 20%;
  max-width: 600px;
  margin: 0 auto;
}

.header-text h1{
  color: #117a8b;
  font-weight: bold;
}

.header-text h1, .header-text h3{
  background-color: rgb(240 238 239 / 85%);
  margin-bottom: 0;
}

.header-text h3{
  font-family: 'Roboto', sans-serif !important;
}

/* Resume Link */

.resume {
  position: absolute;
  top: 0;
  background-color: #6a8d86de;
  font-size: 1.5em;
  padding: 15px;
}

.resume a {
  color: white;
}
/* Section headings */

.portfolio h4, .about h4, #contact h4{
  text-align: center;
  padding: 25px;
}

/* Project Portfolio section */

.portfolio{
  padding: 20px;
  margin: 0 auto;
}

.portfolio .content-wrapper {
  max-width: 600px;
  width: 85%;
}

.portfolio a{
  color:  #117a8b;
  font-weight: bold;
}

.portfolio aside{
  margin: 50px 0;
}

.portfolio img{
  height: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px solid #8080805e;
}

.portfolio-text h5 {
  text-align: center;
  padding: 15px;
}

/* About Me section */

header .col-8{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 400px;
}

.about{
  background-color: #087e8b;
  padding: 20px;
  color: white;
}

.about .content-wrapper {
  margin: 25px auto;
  max-width: 600px;
}

.about img{
  object-fit: cover;
  object-position: right;
  height: 100%;
  width: 100%;
}

.about span{
  font-weight: bold;
  letter-spacing: 1px;
}

.about hr{
  border-top: 1px solid white;
}
/* Lets Connect section */

#contact {
  background-color: #095156;
  text-align: center;
  color: white;
}

.contact-container {
  padding-bottom: 30px;
}

#contact .fab{
  font-size: 20px;
  padding: 5px;
  color: white;
}

@media only screen and (min-width: 768px) {
   /*Tablet styles here*/

   .portfolio .content-wrapper, .about .content-wrapper{
     max-width: 900px;
   }

   .projects{
    display: flex;
    flex-flow: row wrap;
   }

   .portfolio aside{
     display: flex;
     flex-direction: column;
     width: 45%;
   }



   .about .content-wrapper,
   #contact .content-wrapper {
     display: flex;
     justify-content: space-around;
   }

   .about figure {
     width: 40%;
   }

   .about-text {
     width: 50%;
   }

}

  @media only screen and (min-width: 1200px) {
  .portfolio aside {
      width: 30%;
  }

  .portfolio .content-wrapper, .about .content-wrapper{
    max-width: 1400px;
  }
}