/* cell phone*/
.content-wrapper{
  margin: auto;

}


h1, h2, h3, h4, h5, h6{
  font-family:'Roboto Slab', serif !important;
}

p{
  font-family:'Open Sans', sans-serif;
  font-size: 1.15rem;
}

/* Homepage Header- Hero image*/

header{
  height: auto;
  color: #045046;
  background-color: #d8e6e39c;
  background-image: url('../img/hero-image.png');
  background-size: cover;
  max-width: 100% !important;
}

.header-text{
  text-align: center;
  padding: 20% 15px 0;
  max-width: 600px;
  margin: 0 auto;
}

.header-text h1{
  color: #117a8b;
  font-weight: bold;
}

.header-text h1, .header-text h3{
  background-color: rgb(240 238 239 / 85%);
  margin-bottom: 0;
  padding-bottom: 20px;
}

.header-text h3{
  font-family: 'Roboto', sans-serif !important;
}

/* Navigation */

nav {
  background-color: #6a8d86de;
  font-size: 1em;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Section headings */

.portfolio h3 {
  text-align: center;
  color: white;
  background-color: #0a5156;
  padding: 5px;
  margin: auto;
}

#skills h4, #contact h4{
  text-align: center;
  padding: 25px;
}

/* Project Portfolio section */

.portfolio{
  padding: 20px;
  margin: 0 auto;
}

.portfolio .content-wrapper {
  max-width: 600px;
  width: 85%;
}

.portfolio h5 {
  color:  #117a8b;
  font-weight: bold;
}

.portfolio aside{
  margin: 50px 0;
}

.portfolio img {
  height: 100%;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px solid #8080805e;
  box-shadow: 5px 5px 5px #343a4038;
}

.portfolio-text {
  height:100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.portfolio-text h5 {
  text-align: center;
  padding: 15px;
}

.portfolio-text span {
  font-weight: bold;
}

.portfolio-text a {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.portfolio-text a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.projects-button {
  color: white;
  background-color: #117a8b;
  border-radius: 20px;
  padding: 5px 25px;
}
/*Skills Section*/

#skills {
  background-color:#d8e6e3;
}

#skills .content-wrapper {
  width:85%;
  text-align: center;
  padding: 75px 0;
}

#skills ul {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  padding: 0;
}

#skills li {
  margin: 10px;
  background-color: #7c9b95;
  padding: 10px;
  width: 100%;
}

/* About Me section */

header .col-8{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 400px;
}

.about{
  background-color: #087e8b;
  padding: 20px;
  color: white;
}

.about .content-wrapper {
  margin: 25px auto;
  max-width: 600px;
}

.about img{
  object-fit: cover;
  object-position: right;
  height: 100%;
  width: 100%;
}

.about hr{
  border-top: 1px solid white;
}
/* Lets Connect section */

#contact {
  background-color: #095156;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.contact-container {
  padding-bottom: 30px;
}

#contact .fab{
  font-size: 20px;
  padding: 5px;
  color: white;
}

@media only screen and (min-width: 768px) {
   /*Tablet styles here*/

   header {  
     padding: 50px;
  }

   .portfolio .content-wrapper, .about .content-wrapper{
     max-width: 900px;
   }

   .projects{
    display: flex;
    flex-flow: row wrap;
   }

   .portfolio aside{
     display: flex;
     flex-direction: column;
     width: 45%;
   }
   #skills ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
   }

   #skills li {
     width: 45%;
   }

   .about .content-wrapper,
   #contact .content-wrapper {
     display: flex;
     justify-content: space-around;
   }

   .about figure {
     width: 40%;
   }

   .about-text {
     width: 50%;
   }

}

  @media only screen and (min-width: 1200px) {
  .portfolio aside {
      width: 30%;
  }

  .portfolio .content-wrapper, .about .content-wrapper{
    max-width: 1400px;
  }

  #skills li {
    width: 30%;
  }
}